In [1]:
from jinja2 import Template
import pandas as pd

In [10]:
example_1 = """
SELECT 
conversion_type
, COUNT(conversion_visit_id) AS conversion_visit_count
FROM `ft-bi-team.BI_Layer.conversion_visit` 
WHERE conversion_date >= '{{start_date}}'
AND conversion_date < '{{end_date}}'
GROUP BY 1
"""

In [17]:
print(Template(example_1).render(start_date = '2021-05-01', end_date = '2021-06-01'))

SELECT
conversion_type
, COUNT(conversion_visit_id) AS conversion_visit_count
FROM `ft-bi-team.BI_Layer.conversion_visit`
WHERE conversion_date >= '2021-05-01'
AND conversion_date < '2021-06-01'
GROUP BY 1

In [37]:
example_2 = """
SELECT 
    EXTRACT(DATE FROM conversion_date) AS date_,
    {% for source in types -%}
    SUM(CASE WHEN visit_traffic_source_type = '{{source}}' THEN 1 END) AS count_{{source}}
    {%- if not loop.last -%}
        , 
    {% endif -%}
    {%- endfor %}
FROM `ft-bi-team.BI_Layer.conversion_visit`
WHERE conversion_date >= '{{start_date}}'
AND conversion_date < '{{end_date}}'
GROUP BY 1
"""

In [38]:
print(Template(example_2).render(types = ['internal', 'direct', 'search'])
      , start_date = '2021-05-01', end_date = '2021-05-11')

TypeError: 'start_date' is an invalid keyword argument for print()

In [2]:
def create_tuples_from_csv_file(file):
    df = pd.read_csv(file)
    content_formatted = list(df.itertuples(index=False, name=None))
    return content_formatted

In [3]:
matrix = create_tuples_from_csv_file('stepup_matrix.csv')

In [4]:
with open('template.sql') as f:
    sql = f.read()

rendered_sql = Template(sql).render(step_up_matrix=matrix)

In [5]:
# print(rendered_sql)

In [6]:
with open('WIP_jinja.sql', 'w') as f:
    f.write(rendered_sql)
    #TODO change extension to sql.j2